<!DOCTYPE html>
<html>
<head>

</head>
<body>

<form action="/songs/<%= @song.id %>" method="POST">
 

    Title:  <input type="text" name="song[title]" value="<%= @song.title %>" >
    <br>
    Artist:  <input type="text" name="song[artist]" value="<%= @song.artist %>" >
    <br>
    Album:  <input type="text" name="song[album]" value="<%= @song.album %>" >
    <br>
    Genre:  <input type="text" name="song[genre]" value="<%= @song.genre %>" >
    <br>
    Length:  <input type="text" name="song[length]" value="<%= @song.length %>" >
    <br>

    <input type="submit" value="Save Changes">
</form>
<a class="button" href="/">Cancel</a>
</body>
</html>